*{padding: 0;margin: 0;box-sizing: border-box;}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#000;
    font-family: 'Raleway', sans-serif;
}
h1{
    margin: 0 3rem;
    font-weight: 600;
    font-size: 5rem;
    line-height:65px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    animation: move 9s ease infinite;
    background-image: linear-gradient( 68.7deg,  rgb(209, 238, 250,1) 13.2%, rgb(165, 171, 228,1) 29.8%, rgb(240, 192, 233,1) 48.9%, rgb(240, 185, 203,1) 68.2%, rgb(238, 198, 175,1) 86.4% );
}
h4{
    margin: 0 3rem;
    font-weight: 600;
    font-size: 2rem;
    line-height:65px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    animation: move 9s ease infinite;
    background-image: linear-gradient( 68.7deg,  rgb(209, 238, 250,1) 13.2%, rgb(165, 171, 228,1) 29.8%, rgb(240, 192, 233,1) 48.9%, rgb(240, 185, 203,1) 68.2%, rgb(238, 198, 175,1) 86.4% );
}

@keyframes move {
    0%,100%{
        background-position: 200% 0%;
    }

    50%{
        background-position: 0% 200%;
    }
}